<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">
  
        <div class="logo me-auto">
          <h1><a href="index.html">Education in India</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="/about">About</a></li>
            <li><a class="nav-link scrollto" href="/dashboard">Dashboard</a></li>
            <li><a class="nav-link scrollto " href="/story">Story</a></li>
            <li><a class="nav-link scrollto" href="/report">Report</a></li>
            
        </nav><!-- .navbar -->
  
      </div>
    </header><!-- End Header -->
    <div>
        <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FNew%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1320" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
 
    </div>
</html>